* {
  font-family: Helvetica Neue;
}

body{
  font-size: 14px;
}

#ctrl {
  background-color: #eee;
  padding: 0.5em;
  margin-bottom: 1em;
  float:left;
  width: 250px;
}

#content {
  margin-left: 320px;
}


span.name{
  font-weight: 500;
  font-size: 14px;
}

span.fn{
  display: inline-block;
  width:40px;
  text-align: right;
  padding-right: 3px;
}
#aggr{
  td.select {
    font-size: 12px;
  }
  td:nth-child(even) {
    background-color: #fafafa;
  }
  td {
    min-width: 100px;
  }
}