<div class="chart-2d chart-container">
    <div class="name-row">
        <span class="chart-name ">
            {{ pair[0].name }} ~ {{ pair[1].name }}
            <a href="" class="pull-right"  ng-click="toggleChartType()"
               ng-show="isQonQ">
                C
            </a>
            <span class="option-item pull-right" ng-show="chartType=='heatmap'">
                <div class="btn-group btn-xxs">
                    <button type="button" class="btn btn-xxs btn-default">N</button>
                    <button type="button" class="btn btn-xxs btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="normalize = null;">None</a></li>
                        <li><a href="" ng-click="normalize ='row';">By Row</a></li>
                        <li><a href="" ng-click="normalize ='col';">By Col</a></li>
                    </ul>
                </div>
            </span>
        </span>
    </div>

    <div class="chart">
        <svg width="250" height="250">
            <g class="main"></g>
            <g class="trends"></g>
            <g class="x axis tick"></g>
            <g class="y axis tick"></g>
            <g class="names">
                <text class="x axis">{{ pair[1].name }}</text>
                <text class="y axis">{{ pair[0].name }}</text>
            </g>
        </svg>
        <div class="tooltip"></div>
        <div class="y-labels"></div>
        <div class="x-labels"></div>
    </div>
    {{ pair.metric.toFixed(2) }}
</div>