<div class="chart-1d chart">
    <div>
        <span class="chart-name">
            <a ng-click="select(col);">{{col.name}}</a>
        </span>
        <a href="" class="pull-right"  ng-show="col.type!='numeric'" ng-click="toggleChartType()">T</a>
        <a href="" class="pull-right"  ng-click="toggleFilterNull()">N</a>
        <a href="" ng-click="toggleLogTransform()" ng-show="col.type == 'numeric' || chartType == 'histogram'">L</a>
        <span ng-show="yScaleLog">(log)</span>
        <span ng-show="filterNull">(no-null)</span>
    </div>
    <div class="chart" ng-switch="col.type">
        <svg><g></g></svg>
    </div>
</div>
