<div class="chart-2d chart-container">
    <div class="name-row">
        <span class="chart-name ">
            {{ pair[0].name }} ~ {{ pair[1].name }}
            <a href="" class="pull-right"  ng-click="toggleChartType()"
               ng-show="isQonQ">
                C
            </a>
        </span>
    </div>

    <div class="chart">
        <svg width="0" height="0">
            <g class="main"></g>
            <g class="trends"></g>
            <g class="x axis tick"></g>
            <g class="y axis tick"></g>
        </svg>
        <div class="tooltip"></div>
        <div class="y-labels"></div>
        <div class="x-labels"></div>
    </div>
</div>