<div class="chart-1d chart-container" ng-class="{'selected-field': isSelectedField}">
    <div class="name-row">
        <span class="chart-name">
            <a href="" ng-click="select(col);">{{col.name}}</a>
            <span ng-show="col.metric && col.metric != col.name && currentSorted1dType!='name'">
                ({{ col.metric.toPrecision(2) }})
            </span>
            <!--{{ col.hasZero }}-->
            <!--{{ col.hasNull }}-->
        </span>
        <span class="chart-option"
              ng-show="col.type == 'numeric' && col.useLogScale"
              ng-class="{'chart-option-on': col.useLogScale}">
            <a href="" ng-click="toggleLogTransform()">
            Log
            </a>
        </span>
        <span>
            <a href="" ng-click="toggleFilterNull()"
               class="chart-option strike chart-option-on"
               ng-show="col.filterNull">
                Null
            </a>
            <a href="" ng-click="toggleFilterZero()"
               class="chart-option strike chart-option-on"
               ng-show="col.filterZero">
                0
            </a>
        </span>


        <div class="btn-group btn-xs pull-right option-group">

            <button type="button" class="btn btn-default btn-xxs dropdown-toggle" data-toggle="dropdown">
                Opt
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-show="col.type!='numeric'" ng-click="toggleChartType()">
                    Change Chart Type
                </a></li>

                <li ng-show="col.type=='numeric'">
                    <a href="" ng-click="toggleLogTransform()">
                        Log Transform
                    </a>
                </li>


                <li ng-show="col.hasNull">
                    <a href="" ng-click="toggleFilterNull()">
                        <span ng-show="col.filterNull">Unfilter</span>
                        <span ng-show="!col.filterNull">Filter</span>
                        Null
                    </a>
                </li>
                <li ng-show="col.hasZero">
                    <a href="" ng-click="toggleIsZeroNull()">
                        <span ng-show="col.filterZero">Unfilter</span>
                        <span ng-show="!col.filterZero">Filter</span>
                        0
                    </a>
                </li>
                <li ng-show="col.type!='numeric'">
                    <a href="" ng-click="toggleSortBy()">
                        <span ng-show="sortBy=='count'">Sort by Alphabet</span>
                        <span ng-show="sortBy=='val'">Sort by Count</span>
                    </a>
                </li>

            </ul>

        </div>
        <span class="pull-right mini-btn-grp">



        </span>
    </div>
    <div class="chart" ng-switch="col.type">
        <svg>
            <g class="main"></g>
            <g class="x axis"></g>
        </svg>
        <div class="tooltip"></div>
    </div>
</div>
