<div class="chart-1d chart-container" ng-class="{'selected-field': isSelectedField}">
    <div class="name-row">
        <span class="chart-name">
            <a href="" ng-click="select(col);">
                <span class="label label-default type-label">{{ fieldTypeShort[col.type] }}</span>
                {{col.name}}
            </a>
            <span ng-show="col.metric && col.metric != col.name && currentSorted1dType!='name'">
                ({{ col.metric.toPrecision(2) }})
            </span>
            <!--{{ col.hasZero }}-->
            <!--{{ col.hasNull }}-->
        </span>

        <span class="option-group">
            <span class="option-item"
                 ng-class="{enabled: useLogCount, invisible: chartType!='histogram' && col.type!='numeric'}">
                <a href="" ng-click="toggleLogCount()"
                   data-toggle="tooltip" title="Apply Log to Count">
                    lg<sub>y</sub>
                </a>
            </span>
            <!--<span ng-show="col.type=='numeric'"-->
                  <!--class="option-item"-->
                  <!--ng-class="{enabled: col.useLogScale}">-->
                <!--<a href="" ng-click="toggleLogScale()"-->
                   <!--data-toggle="tooltip" title="Apply Log to Domain">-->
                    <!--lg<sub>x</sub>-->
                <!--</a>-->
            <!--</span>-->
            <span ng-show="col.hasNull" ng-class="{enabled: col.filterNull}"
                  class="option-item">
                <a href="" ng-click="toggleFilterNull()"
                   ng-class="{strike: col.filterNull}"
                   data-toggle="tooltip" title="Filter Null">
                    null
                </a>
            </span>
            <span ng-show="col.type!='numeric'" ng-class="{enabled: option}"
                  class="option-item">
                <a href="" ng-click="toggleChartType()"
                   data-toggle="tooltip" title="Swap Chart Type">
                    C
                </a>
            </span>
            <span ng-show="col.hasZero" ng-class="{enabled: col.filterZero}"
                  class="option-item">
                <a href="" ng-click="toggleFilterZero()" ng-class="{strike: col.filterZero}"
                   data-toggle="tooltip" title="Filter Zero">
                    0
                </a>
            </span>
            <span class="option-item">
                <div class="btn-group btn-xxs">
                    <button type="button" class="btn btn-xxs btn-default">S</button>
                    <button type="button" class="btn btn-xxs btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="sortBy ='alpha';">by Alphabetical</a></li>
                        <li><a href="" ng-click="sortBy ='count';">by Count</a></li>
                    </ul>
                </div>
            </span>
        </span>


        <!--<div class="btn-group btn-xs pull-right option-group">-->
            <!--<button type="button" class="btn btn-default btn-xxs dropdown-toggle" data-toggle="dropdown">-->
                <!--Opt-->
                <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li ng-show="col.hasNull">-->
                    <!--<a href="" ng-click="toggleFilterNull()">-->
                        <!--<span ng-show="col.filterNull">Unfilter</span>-->
                        <!--<span ng-show="!col.filterNull">Filter</span>-->
                        <!--Null-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li ng-show="col.hasZero">-->
                    <!--<a href="" ng-click="toggleIsZeroNull()">-->
                        <!--<span ng-show="col.filterZero">Unfilter</span>-->
                        <!--<span ng-show="!col.filterZero">Filter</span>-->
                        <!--0-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li ng-show="col.type!='numeric'">-->
                    <!--<a href="" ng-click="toggleSortBy()">-->
                        <!--<span ng-show="sortBy=='count'">Sort by Alphabet</span>-->
                        <!--<span ng-show="sortBy=='val'">Sort by Count</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <span class="pull-right mini-btn-grp">

        </span>
    </div>
    <div class="chart" ng-switch="col.type">
        <svg>
            <g class="main"></g>
            <g class="x axis"></g>
        </svg>
        <div class="tooltip"></div>
    </div>
</div>
