<div class="chart-2d chart-container">
    <div class="name-row">
        <span class="chart-name">{{ pair[0].name }} ~ {{ pair[1].name }}</span>
        <!-- TODO(kanitw): enable and unhide these -->
        <!--<a href="" class="btn pull-right"  ng-click="toggleChartType()">T</a>-->
        <!--<a href="" class="btn pull-right"  ng-click="toggleFilterNull()">N</a>-->

    </div>

    <div class="chart">
        <svg width="0" height="0">
            <g class="main"></g>
            <g class="x axis tick"></g>
            <g class="y axis tick"></g>
        </svg>
        <div class="tooltip"></div>
    </div>
</div>