<div class="pure-g">
    <div class="pure-u-1-5">
        <!--<div class="block-1d" ng-init="col=data[0]">-->
        <div ng-repeat="col in dataTable" class="block-1d">
            <a ng-click="select(col)">
                <span class="chart-name">{{col.name}}</span>
                <histogram field="col" width="120" height="40" yScale=""></histogram>
            </a>
        </div>
    </div>
    <div class="pure-u-4-5">
        <div ng-repeat="pair in colPairs" class="block-2d">
            <heatmap pair="pair"/>
        </div>
    </div>
</div>