<div class='stretch-row stretch-col'>
    {{ currentSorter1dType }}
    <flexy-layout>
        <block-container init="200">
            <flexy-layout orientation="vertical" >
                <block-container init="60">
                    <div class="padding5">
                        <div><b>Variables</b></div>
                        Sort by <select ng-model="sorter1d.current"
                                ng-options="n for (n,s) in sorter1d.types">
                        </select>
                        <div>
                            <a href="" ng-click="filterAllNull()">
                                Filter All Null
                            </a>
                        </div>
                    </div>
                </block-container>
                <block-container>
                    <!--Numerical-->
                    <div class="scroll-y no-scroll-x w100 h100 overflowable">
                        <div ng-repeat="col in cols " class="block-1d">
                            <chart1d col="col" select="select(col);" width="150" is-selected-field="selectedField.name == col.name">
                        </div>
                    </div>
                </block-container>
                <!--<block-splitter></block-splitter>-->
                <!--<block-container>-->
                    <!--Non-numerical-->
                    <!--<div class="scroll-y w100 h100 overflowable">-->
                        <!--<div ng-repeat="col in nonnumericCols" class="block-1d">-->
                            <!--<chart1d col="col" select="select(col);" width="150" is-selected-field="selectedField.name == col.name">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</block-container>-->
            </flexy-layout>

        </block-container>
        <block-splitter></block-splitter>
        <block-container>
            <div class="padding5">
                <div><b>Variables Relevant to "{{selectedField.name}}"</b></div>
                Sort by <select ng-model="sorter2d.current" ng-options="n for (n,s) in sorter2d.types">
                </select>
            </div>
            <flexy-layout orientation="vertical">
                <block-container init="90">
                    <div class="padding5">
                        <div><b>Quick Score Overview</b></div>
                        <div class="w100 scroll-x no-scroll-y chart-list">
                            <span ng-repeat="pair in colPairs" style="margin-right:5px;" class="quick-score">
                                {{ pair[1].name }}:
                                <span class="pull-right" style="background-color: {{ metricColor(pair.metric)}}">
                                    {{ pair.metric.toFixed(2) }}
                                </span>
                            </span>
                        </div>

                    </div>
                </block-container>
                <block-splitter></block-splitter>
                <block-container>
                    <div class="w100 h100 scroll-y">
                        <div ng-repeat="pair in colPairs | limitTo: 12" class="block-2d">
                            <chart2d pair="pair" width="250" height="250"/>
                        </div>
                    </div>

                </block-container>
            </flexy-layout>
        </block-container>
    </flexy-layout>
</div>