$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "../bower_components/pure/base.css";
@import "../bower_components/pure/grids-min.css";
/* Put your CSS here */
html, body {
  margin: 0px;
}

body {
  font-size: 12px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.bar rect, .marks rect{
  fill: steelblue;
  shape-rendering: crispEdges;

  &:hover{
    fill: orange !important;
  }

  &.null{
    fill: red !important;
  }
}

.bar text {
  fill: #fff;
}

.strike{
  text-decoration: line-through;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text{
  font-size: 9px;
}

.chart-container{
  .name-row{
    padding: 2px;
    border-top: 1px solid #dddddd;
    .chart-name{
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }

  .chart-option{
    font-size: 10px;
    color: #aaa;
    &.chart-option-on{
      color: steelblue;
    }
    &.disable{
      color:#ddd;
    }
  }

  .chart{
    padding: 3px 10px;
  }
  .tooltip{
    opacity: 0;
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
  }
}

/* TODO(kanitw): make compass works and use compass here instead #58*/

.block-2d{
  width: 300px;
  height: 300px;
  display: inline-block;
}

/* TODO(kanitw): these part are obviously unfinished work */

.left-pane{
  width:200px;
  float:left;
}

.middle-pane{
  padding-left: 220px;

}

.selected-field{
  background-color: yellow;
}