$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

//@import "bootstrap-sass/lib/bootstrap";
@import "pure/base.css";
/* Put your CSS here */
html, body {
  margin: 0px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;

  &:hover{
    fill: orange;
  }

  &.null{
    fill: red;
  }
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text{
  font-size: 8px;
}

.block-1d{
  .chart-name{
    font-size: 10px;
    text-align: center;
  }
  .block-histogram{


  }
  &:hover{
    background-color: #eeeeee;
  }

}


