$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../lib/flexy-layout/src/flexyLayout.css";
@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "../bower_components/pure/base.css";
@import "../bower_components/pure/grids-min.css";
/* Put your CSS here */
html, body {
  margin: 0px;
}

$border-color: #eee;

.flexy-layout.flexy-layout-column > .splitter,
.flexy-layout.flexy-layout-row > .splitter
{
  width: 1px;
  background-color: $border-color;
}

.padding5{
  padding: 5px;
}

//.flexy-layout.flexy-layout-row > .block.overflowable,
//.flexy-layout.flexy-layout-column > .block.overflowable,
//.flexy-layout.overflowable{
//  overflow:visible;
//}


.stretch-row, .stretch-col { overflow: hidden; position: absolute; }
.stretch-row {
  left: 0; right: 0;

  .bottom{
    font-size: 12px;
    position: absolute;
    bottom: 0;
  }

  &.main-with-navbar{
    top: 40px;
    bottom:0;
  }
}

.w100{
  width:100%;
}
.h100{
  height:100%;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}



.stretch-col {
  top: 0; bottom: 0;
//  &.left-menu{
//    width: $left-menu-col-width - 1;
//  }

  &.main-with-left-menu{
//    left: $left-menu-col-width;
    right: 0;
  }
  &.avoid-top-menu{
    top:40px;
  }
}

.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.no-scroll-x { overflow-x: hidden; }
.no-scroll-y { overflow-y: hidden; }


body {
  font-size: 12px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.btn-xxs{
  padding: 0px 2px;
  font-size: 10px;
  line-height: 1.3;
  border-radius: 3px;
}

.btn-group.btn-xxs > .btn.btn-xxs + .dropdown-toggle {
  padding-left: 0px;
  padding-right: 0px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.bar rect, .marks rect{
  fill: steelblue;
  shape-rendering: crispEdges;

  &:hover{
    fill: orange !important;
  }

  &.null{
    fill: red !important;
  }
}

.bar text {
  fill: #fff;
}

.strike, .strike:hover{
  text-decoration: line-through;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text{
  font-size: 9px;
}

.chart-container{
  border: 1px solid #ddd;
  margin: 3px 5px;
  padding: 0px 3px;

  .name-row{
    position: relative;
    .type-label{
      font-size:90%;
      margin-right: 2px;
      padding: 0 2px;
    }
    .chart-name{

      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }

  .option-group{
    font-size: 10px;
    .option-item{
      visibility: hidden;
      &.enabled{
        visibility: visible;
      }
    }
  }
  .chart{
    text-align: center;
  }

  &:hover .option-group .option-item{
    visibility: visible;
  }

  .chart-option{
    font-size: 10px;
    color: #aaa;
    &.chart-option-on{
      color: steelblue;
    }
    &.disable{
      color:#ddd;
    }
    margin-right: 4px;
  }

  .chart-list{
    box-sizing: padding-box;
    padding: 5px;
  }



  .tooltip{
    opacity: 0;
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
  }
}

/* TODO(kanitw): make compass works and use compass here instead #58*/

.block-2d{
  width: 300px;
  height: 300px;
  display: inline-block;
}

/* TODO(kanitw): these part are obviously unfinished work */

.selected-field{
  background-color: #f1f1f1;
}